@charset "utf-8";
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.6rem;
  width: 100%;
}
header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.text-center{
  text-align: center;
}
h1 {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-80%,0);
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 1.6rem;
}
footer {
  color: white;
  background-color: gray;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
p {
  font-size: 200%;
  text-align: center;
  border-bottom: 1px solid #fff;
  height: 200px;
}
.how-to-wrapper {
  margin: 0 auto;
  width: 70%;
}
.search-wrapper {
  margin: 0 auto;
  width: 50%;
  padding: 0;
}
#search-btn {
  padding: 0;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
}
#clear {
  margin: 0 auto;
  width: 50%;
  padding: 0;
}
table {
  writing-mode: vertical-lr;
  margin: 20px auto;
  border: 1px solid #8dc3f5;
  width: auto;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}
th {
  writing-mode: horizontal-tb;
  width: 19%;
  background-color: #d0e7fc;
  border-bottom: 1px solid #8dc3f5;
  word-break: break-all;
  word-wrap: break-word;
}
td {
  writing-mode: horizontal-tb;
  width: 19%;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #8dc3f5;
  word-break: break-all;
  word-wrap: break-word;
}
#pickup {
  background-color: #8dc3f5;
  padding: 10px 0;
  margin: 10px auto;
  width: 98%;
}
.titles {
  display: flex;
  margin: 10px;
  background-color: white;
}
button {
  font-weight: bold;
}

